<!doctype html>
<html ng-app="SDN" ng-controller="SDNCtrl" lang="en" ng-strict-di >
<head>
  <base href="/">
  <title ng-bind="'T-SDN - ' + menu.currentSection.name +
    (menu.currentSection === menu.currentPage ? '' : ' > ' + menu.currentPage.name)">
    T-SDN 业务管理系统
  </title>

  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <meta name="keywords" content="T-SDN">
  <meta name="author" content="kizer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link href="assets/angular-material.min.css" media="all" rel="stylesheet">
  <link href="assets/sidenav.min.css" media="all" rel="stylesheet">
  <link href="assets/md-data-table.min.css" rel="stylesheet" type="text/css"/>
  <link href="assets/smDateTimeRangePicker.css" media="all" rel="stylesheet">
  <!-- <link href="assets/tree.css" media="all" rel="stylesheet"> -->
  <link href="assets/tree-control-attribute.css" media="all" rel="stylesheet">
  <link href="assets/tree-control.css" media="all" rel="stylesheet">
  <link href="assets/ivh-treeview.css" media="all" rel="stylesheet">
  <link href="assets/ivh-treeview-theme-basic.css" media="all" rel="stylesheet">
  <link href="assets/application.css" media="all" rel="stylesheet">

</head>

<body class="docs-body" layout="row">

<div ng-hide="isAuthed()" layout="column" layout-align="center center" layout-fill="layout-fill" ng-cloak>
  <div class="loginBox md-whiteframe-z1" layout="column">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>T-SDN 业务管理系统</span></h2>
    </md-toolbar>
    <form name="loginform" novalidate ng-submit="login()" role="form">

      <md-content class="md-padding" layout="column">
        <md-input-container>
          <label>用户</label>
          <input ng-required="true" ng-model="user.username"/>
        </md-input-container>
        <md-input-container>
          <label>密码</label>
          <input ng-required="true" type="password" ng-model="user.password"/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px">
          <md-button type="submit" aria-label="submit"  ng-disabled="loginform.$invalid" class="md-raised md-primary">登陆</md-button>
          <div flex="flex"></div>
          <md-button href="" md-no-ink="md-no-ink">忘记密码</md-button>
        </div>
      </md-content>
    </form>
  </div>
</div>

<md-sidenav ng-show="isAuthed()" 
            class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left" hide-print
            md-is-locked-open="$mdMedia('gt-sm')" ng-cloak>

  <header class="nav-header">
    <md-list ng-clock>
      <md-list-item ng-click="" class="noright">
      <img src="assets/dxlogo.png" alt="" style="height: 50px;"/><span> </span>
      <p class="docs-logotype md-heading">TSDN业务管理</p>
    </a>
      </md-list-item>
    </md-list>
  </header>

  <ul class="skip-links">
    <li class="md-whiteframe-z2">
      <md-button ng-click="focusMainContent($event)" href="#">Skip to content</md-button>
    </li>
  </ul>

  <md-content flex role="navigation">
    <ul class="docs-menu">
      <li ng-repeat="section in menu.sections" class="parent-list-item {{section.className || ''}}" ng-class="{'parentActive' : isSectionSelected(section)}">
        <h2 class="menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
          {{section.name}}
        </h2>
        <menu-link section="section" ng-if="section.type === 'link' && !section.hidden"></menu-link>

        <menu-toggle section="section" ng-if="section.type === 'toggle' && !section.hidden"></menu-toggle>

        <ul ng-if="section.children" class="menu-nested-list">
          <li ng-repeat="child in section.children" ng-class="{'childActive' : isSectionSelected(child)}">
            <menu-link section="child" ng-if="child.type === 'link'"></menu-link>
            <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
          </li>
        </ul>
      </li>
    </ul>
  </md-content>
</md-sidenav>
<div ng-show="isAuthed()" layout="column" tabIndex="-1" role="main" flex>
  <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
      <md-button class="md-icon-button" ng-click="openMenu()" hide-gt-sm aria-label="Toggle Menu">
        <md-icon md-svg-src="assets/ic_menu_24px.svg"></md-icon>
      </md-button>
      <div layout="row" flex class="fill-height">
        <h2 class="md-toolbar-item md-breadcrumb md-headline">
            <span ng-if="menu.currentPage.name !== menu.currentSection.name">
              <span hide-sm hide-md>{{menu.currentSection.name}}</span>
              <span class="docs-menu-separator-icon" hide-sm hide-md style="transform: translate3d(0, 1px, 0)">
                <span class="md-visually-hidden">-</span>
                <md-icon
                        aria-hidden="true"
                        md-svg-src="assets/ic_chevron_right_24px.svg"
                        style="margin-top: -2px"></md-icon>
              </span>
            </span>
          <span class="md-breadcrumb-page">{{menu.currentPage | humanizeDoc}}</span>
        </h2>

        <span flex></span> <!-- use up the empty space -->

        <div class="md-toolbar-item docs-tools" layout="row">

          <div layout="row" layout-align="center center">
            <span>{{user.username}}</span>
          </div>

          <md-button class="md-icon-button"
                     aria-label="logout"
                     target="_blank"
                     ng-click="logout()">
            <md-tooltip md-autohide>logout</md-tooltip>
            <md-icon md-svg-src="assets/exit.svg" style="transform: scale(1.3)"></md-icon>
          </md-button>

        </div>
      </div>
    </div>
  </md-toolbar>
  <md-content md-scroll-y layout="column" flex>
      <div ng-view layout-padding flex="noshrink" class="docs-ng-view"></div>
  </md-content>
</div>

<script src="assets/jquery-3.1.1.min.js"></script>
<script src="assets/angular.js"></script>
<script src="assets/angular-animate.min.js"></script>
<script src="assets/angular-aria.min.js"></script>
<script src="assets/angular-loader.min.js"></script>
<script src="assets/angular-messages.min.js"></script>
<script src="assets/angular-route.min.js"></script>
<script src="assets/angular-cookies.min.js"></script>
<script src="assets/sidenav.js"></script>
<script src="assets/angular-material.min.js"></script>
<script src="assets/md-data-table.js"></script>
<script src="assets/moment.js"></script>
<script src="assets/smDateTimeRangePicker.js"></script>
<script src="assets/echarts.min.js"></script>
<script src="assets/angular-tree-control.js"></script>
<script src="assets/ivh-treeview.js"></script>
<script src="assets/promise-tracker.js"></script>
<script src="assets/application.js"></script>

</body>
</html>
