<!doctype html>
<html ng-app="SDN" lang="en" ng-strict-di >
<head>
  <base href="/">
  <title> T-SDN 业务管理系统 </title>

  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <meta name="keywords" content="T-SDN">
  <meta name="author" content="kizer">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <link href="assets/angular-material.min.css" media="all" rel="stylesheet">
  <link href="assets/application.css" media="all" rel="stylesheet">

</head>

<body class="docs-body" layout="row" ng-cloak>

<div ng-controller="LoginCtrl" layout="column" layout-align="center center" layout-fill="layout-fill">
  <div class="loginBox md-whiteframe-z1" layout="column">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>T-SDN 业务管理系统</span></h2>
    </md-toolbar>
      <form name="loginform" novalidate ng-submit="login()" role="form" ng-cloak>

    <md-content class="md-padding" layout="column">
      <md-input-container>
        <label>用户</label>
        <input ng-required="true" ng-model="user.username"/>
      </md-input-container>
      <md-input-container>
        <label>密码</label>
        <input ng-required="true" type="password" ng-model="user.password"/>
      </md-input-container>
      <div layout="row" layout-align="center center" style="padding-top:20px">
        <md-button type="submit" aria-label="submit"  ng-disabled="loginform.$invalid" class="md-raised md-primary">登陆</md-button>
        <div flex="flex"></div>
        <md-button href="" md-no-ink="md-no-ink">忘记密码</md-button>
      </div>
    </md-content>
  </form>
  </div>
</div>

<!-- <script src="assets/jquery-3.1.1.min.js"></script> -->
<script src="assets/angular.js"></script>
<script src="assets/angular-animate.min.js"></script>
<script src="assets/angular-aria.min.js"></script>
<script src="assets/angular-loader.min.js"></script>
<script src="assets/angular-messages.min.js"></script>
<script src="assets/angular-route.min.js"></script>
<script src="assets/angular-cookies.min.js"></script>
<script src="assets/sidenav.js"></script>
<script src="assets/angular-material.min.js"></script>
<script src="assets/md-data-table.js"></script>
<script src="assets/moment.js"></script>
<script src="assets/smDateTimeRangePicker.js"></script>
<script src="assets/echarts.min.js"></script>
<script src="assets/angular-tree-control.js"></script>
<script src="assets/promise-tracker.js"></script>
<script src="assets/application.js"></script>

</body>
</html>