<md-dialog flex="40" aria-label="{{ ctrl.title }}">
  <form name="uForm" novalidate ng-submit="ctrl.submit(uForm)" role="form" ng-cloak>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ ctrl.title }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-svg-src="images/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div layout-gt-xs="row" style="margin: 15px;">
        <md-input-container class="md-block" flex-gt-xs>
          <label>速率</label>
          <input type="number" step="100" ng-model="ctrl.rate">
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button type="submit" aria-label="submit" class="md-primary">
        提交
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
