<md-dialog flex="60" aria-label="Create Service">
  <form name="sform" novalidate ng-submit="ctrl.submit(sform)" role="form" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ctrl.title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <md-icon md-svg-src="assets/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-progress-linear md-mode="indeterminate" ng-show="progress.active()"></md-progress-linear>

    <md-dialog-content>
      <div class="md-dialog-content" flex>

        <div style="padding-right: 1em;">
  <!--         <p>选择目标节点，并输入业务数据，创建业务。</p> -->
          <p>{{ctrl.desc}}</p>
          <div layout-gt-xs="row">
            <md-input-container class="md-block" flex>
              <input ng-required="true"
                     type="number"
                     step="1250"
                     min="0"
                     name="bandwidth"
                     ng-model="task.bandwidth"
                     placeholder="峰值带宽(MB)"/>
            </md-input-container>
            <md-input-container class="md-block" flex>
              <input ng-required="true"
                     name="rate"
                     type="number"
                     min="0"
                     step="100"
                     ng-model="task.rate"
                     placeholder="带宽(MB)"/>
            </md-input-container>
          </div>
          <div layout-gt-xs="row" ng-show="!ctrl.isUpdate" flex>
            <md-autocomplete
                md-input-name="to"
                md-require-match="true"
                ng-required="!ctrl.isUpdate"
                md-selected-item="task.to"
                md-search-text="ctrl.searchText"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-min-length="0"
                placeholder="输入关键字，选择目标节点..."
                flex>
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
              <md-not-found>
                No SEP matching "{{ctrl.searchText}}" were found.
              </md-not-found>
            </md-autocomplete>
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button type="submit" aria-label="submit" class="md-primary" ng-disabled="sform.$invalid"> 提交 </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
