<div layout="row">
  <div flex="50">
    <div ivh-treeview="tree"
      ivh-treeview-id-attribute="'name'"
      ivh-treeview-label-attribute="'name'"
      ivh-treeview-on-cb-change="changeCallBack(ivhNode,ivhIsSelected)"
      ivh-treeview-children-attribute="'nodes'">
      <script type="text/ng-template">
        <tree-node></tree-node>
      </script>
    </div>
  </div>

  <div flex>
  <md-content layout-padding>
    <div style="padding-right: 1em;" >
      <form name="userForm" ng-show="sep">
       <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>名称</label>
            <input ng-model="sep.name" disabled>
          </md-input-container>
        </div>
       <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>状态</label>
            <input ng-model="sep.occupied_status" disabled>
          </md-input-container>
        </div>
       <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-xs>
            <label>关联业务</label>
            <input ng-model="sep.services" disabled>
          </md-input-container>
        </div>
        <div>
          <md-button class="md-raised md-primary" style="width: 100%;" ng-click="connect()" flex>创建业务</md-button>
        </div>
      </form>
    </div>
  </md-content>

  </div>
</div>



